.menubar {
  background-color: gray;
  color: white;
  padding: 20px;

  a {
    font-size: 20px;
    color:white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .courses {
    display: inline;
  }
  .login {
    display: inline;
    float: right;
  }

}

.flash {
  background-color: red;
  margin: 10px;
}

.button {
  margin-left: 5px;
  margin-right: 5px;

  border: solid blue 1px;
  background-color: white;
  border-radius: 3px;
  float: left;
  padding: 5px;
  a {
    text-decoration: none;
    color: blue;
  }
}

.list-box {
  width: 600px;
  height: 50px;
  border: solid black 1px;
  border-radius: 3px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  display: block;
  .picture {
    display: inline;
    padding-left: 20px;

  }
  .name {
    position: absolute;
    font-size: 20px;
    display: inline;
    padding-left: 20px;
  }
  .start {
    display: inline;
    padding-left: 20px;
  }
  .end {
    display: inline;
    padding-left: 20px;
  }
  .level {
    display: inline;
    padding-left: 20px;
  }
}

.show {
  margin-left: 50px;
}





